@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&family=Roboto+Slab:wght@300&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body
{
  background: #111222;
}

section
{
 position: relative; 
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 80px 100px;
 color: aliceblue;
}

.container
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}